<% include partials/headertwo %>

<div class="outside">
    
    <div class="header__text">
            <h1>Log in</h1>
            <p>Enter your username and password to log in:</p>
    </div>
    
    <div class="login__form__container">
        
        <form action="/login" method="POST">
            <div class="form__top">
                <input type="text" name="username" placeholder="username">
            </div>
            <div class="form__bottom">
                <input type="password" name="password" placeholder="password">
            </div>
            <input type="hidden" name="referer" value="<%= referer %>">
            <button class="meal__form__button">Log In</button>
        </form>  
        
    </div>
    
</div>

<% include partials/footertwo %>