<% include partials/header %>

<div class="outside__container">
    <div class="header__text">
        <h2>Create a new recipe:</h2>
        <form action="/recipes" action="POST">
            
        </form>
    </div>
</div>

<% include partials/footer %>